html,
body {
    margin: 0px;
    padding: 0px;
    height: 100%;
}

.buttonstop {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
}

.buttonsdown {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
}

.button {
    padding: 0.25em;
    background: transparent;
    border-color: transparent;
}

.surroundtop {
    margin-left: auto;
    margin-right: 1%;
}

.surroundbottom {
    padding-left: 10%;
    padding-right: 10%;
}

.fas {
    color: #FFFFFF;
}